* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
}

@media (min-width: 320px) {

    .subscribe {
        display: none;
    }
}

@media (min-width: 1024px) {

    .subscribe {
        display: block;
    }
}


